{% extends 'base.html' %}

{% block title %}
    Book a Ticket
{% endblock %}

{% block content %}
    <form method="post">
        <div class = "mb-3">
            <label for="num_adults" class="form-label">Adults</label>
            <input type="text" class="form-control" name="num_adults" autofocus></input>
        </div>
        <div class = "mb-3">
            <label for="num_children" class="form-label">Children</label>
            <input type="text" class="form-control" name="num_children" autofocus></input>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}