{% extends 'base.html' %}

{% block title %}
    Venues
{% endblock %}

{% block content %}
    <h1>Venues</h1>

    <div class="row">
        <div class="column">
            <div class="card">
                <a href="the-great-hall">
                    <img
                        height = 600px
                        src="https://www.sydneyboyshigh.com/images/stories/venuehire/greathall-interior2.jpg"
                        style = "height: 400px; width: 100%; object-fit: cover;"
                    />
                </a>
                <div class="container">
                    <h4>The Great Hall</h4>
                    <div class="row">
                        <div class="column">
                            <div class="icon_text"><span class="material-symbols-outlined">group</span><span class="tab"></span>720 people max</div>
                            <div class="icon_text"><span class="material-symbols-outlined">straighten</span><span class="tab"></span>325 sqm</div>
                            <div class="icon_address"><span class="material-symbols-outlined">map</span><span class="tab"></span>
                                    556 Cleveland St,<br>
                                    Moore Park NSW 2021
                            </div>
                        </div>
                        <div class="column">
                            <p>Built in 1927, this grand hall with its 7.5 metre ceilings and tranquil cloisters provides an affordable venue in a prime location.</p>
                        </div>
                    </div>
                    <a href="the-great-hall" class="goto">More Information <span class="material-symbols-outlined">arrow_forward</span></a>
                </div>
            </div>
            <div class="card">
                <a href="the-outterside-centre">
                    <img
                            height = 600px
                            src="https://www.sydneyboyshigh.com/images/stories/venuehire/abbotsford-aerial3.jpg"
                            style = "height: 400px; width: 100%; object-fit: cover;"
                    />
                </a>
                <div class="container">
                    <h4>The Outterside Centre</h4>
                    <div class="row">
                        <div class="column">
                            <div class="icon_text"><span class="material-symbols-outlined">group</span><span class="tab"></span>120 people max</div>
                            <div class="icon_text"><span class="material-symbols-outlined">straighten</span><span class="tab"></span>720 sqm</div>
                            <div class="icon_address"><span class="material-symbols-outlined">map</span><span class="tab"></span>
                                5 Teviot Avenue,<br>
                                Abbotsford Point NSW 2046
                            </div>
                        </div>
                        <div class="column">
                            <p>Located on stunning water frontage in Sydney’s inner west, The Outterside Centre has 180 degree water views and glimpses of the Harbour Bridge.</p>
                        </div>
                    </div>
                    <a href="the-great-hall" class="goto">More Information <span class="material-symbols-outlined">arrow_forward</span></a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <a href="fairland-pavilion">
                    <img
                            height = 600px
                            src="https://www.sydneyboyshigh.com/images/stories/venuehire/fairland3.jpg"
                            style = "height: 400px; width: 100%; object-fit: cover;"
                    />
                </a>
                <div class="container">
                    <h4>Fairland Pavilion</h4>
                    <div class="row">
                        <div class="column">
                            <div class="icon_text"><span class="material-symbols-outlined">group</span><span class="tab"></span>70 people max</div>
                            <div class="icon_text"><span class="material-symbols-outlined">straighten</span><span class="tab"></span>- sqm</div>
                            <div class="icon_address"><span class="material-symbols-outlined">map</span><span class="tab"></span>
                                Grand Dr,<br>
                                Centennial Park NSW 2021
                            </div>
                        </div>
                        <div class="column">
                            <p>Set in the lush surrounds of Centennial Park, in the Eastern Suburbs, Fairland Pavilion is a versatile and informal venue that offers a relaxed atmosphere perfect for casual gatherings. </p>
                        </div>
                    </div>
                    <a href="the-great-hall" class="goto">More Information <span class="material-symbols-outlined">arrow_forward</span></a>
                </div>
            </div>
            <div class="card">
                <a href="uts-gymansium">
                    <img
                            height = 600px
                            src="https://www.sydneyboyshigh.com/images/stories/venuehire/gym2.jpg"
                            style = "height: 400px; width: 100%; object-fit: cover;"
                    />
                </a>
                <div class="container">
                    <h4>UTS Gymnasium</h4>
                    <div class="row">
                        <div class="column">
                            <div class="icon_text"><span class="material-symbols-outlined">group</span><span class="tab"></span>- people</div>
                            <div class="icon_text"><span class="material-symbols-outlined">straighten</span><span class="tab"></span>- sqm</div>
                            <div class="icon_address"><span class="material-symbols-outlined">map</span><span class="tab"></span>
                                556 Cleveland St,<br>
                                Moore Park NSW 2021
                            </div>
                        </div>
                        <div class="column">
                            <p>UTS Gymansium features two full-sized indoor basketball courts on professional-standard sprung floors.</p>
                        </div>
                    </div>
                    <a href="uts-gymnasium" class="goto">More Information <span class="material-symbols-outlined">arrow_forward</span></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}