{% extends 'base.html' %}

{% block title %}
    Venues
{% endblock %}

{% block content %}
    <h1>Venues</h1>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://www.sydneyboyshigh.com/images/stories/venuehire/greathall-interior2.jpg">
                <div class="container">
                    <h4>The Great Hall</h4>
                    <p>description</p>
                </div>
            </div>
            <div class="card">
                <img src="https://www.sydneyboyshigh.com/images/stories/venuehire/greathall-interior2.jpg" alt="Great Hall" style="width:100%">
                <div class="container">
                    <h4>The Great Hall</h4>
                    <p>description</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="https://www.sydneyboyshigh.com/images/stories/venuehire/greathall-interior2.jpg" alt="Great Hall" style="width:100%">
                <div class="container">
                    <h4>The Great Hall</h4>
                    <p>description</p>
                </div>
            </div>
            <div class="card">
                <img src="https://www.sydneyboyshigh.com/images/stories/venuehire/greathall-interior2.jpg" alt="Great Hall" style="width:100%">
                <div class="container">
                    <h4>The Great Hall</h4>
                    <p>description</p>
                </div>
            </div>
        </div>
{% endblock %}